body{
    padding: 30px;
    font-family: "Roboto", sans-serif;
}

.hero{
    background-image: url('../images/hero.avif');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: 30px;
    overflow: hidden;
}

.hero-title-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 30%);
}

.hero-title{
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
}

.hero-title-white-text{
    display: block;
    font-size: 180px;
    mix-blend-mode: overlay;
}