body{
    padding: 15px;
    font-family: "Roboto", sans-serif;
    margin: 0;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
/* align:center, alinea verticalmente a todos  */
.main-menu-items{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    padding-left: 0;
}
.main-menu-item a{
    color: gray;
    text-decoration: none;

}
.main-menu-item a:hover{
    background-color: white ;
    color:black;
}
.btn-book-now{
    padding: 10px 25px 10px 25px;
    border-color: #1faffe;
    background-color:#1faffe ;
    color: #fff;
    border-radius: 5px;
    border: 1px #1faffe solid;
    font-weight: 600px;
    transition: all ease-in .2s;
    
}
/* Display:flex, para que aparescan, para que se alinen uno despues del otro. , cuenta los divs*/

.btn-book-now:hover{
    background-color: #fff;
    color: #1faffe;
    border: #1faffe 1px solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;

}
.hero{
    background-image: url('../images/hero.avif');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: 30px;
    /*overflow: hidden;*/
    position: relative;
}

.hero-title-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 30px;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 30%);
}

.hero-title{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
}

.hero-title-white-text{
    display: block;
    font-size: 100px;
    mix-blend-mode: overlay;
}

.search-block{
    display: block;
    position: absolute;
    background-color: white;
    width: 80%;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 50px;
    border-radius: 15px;
    gap:20px;
}
.search-block-left{
    flex-basis: 50%;
    position: relative;
}
.search-block-right{
    flex-basis: 50%;
    display: grid;
    gap: 20px; /* Separacion entre div y div*/
    grid-template-columns: 50% 50%;
    padding: 20px 0 0 0;
    
}

input[type=text]{
    border: 1px solid gray;
    width: 100%;
    padding: 20px 15px;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=date]{
    border: 0px;
    font-weight: 600;
}
select{
    border:0px;
    font-weight: 600;
    width: 80%;
    padding: 2px 15px;
    background: transparent;
}
/* Background lo hace transparente */
label{
    font-size: 12px;
}
.search-block-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-basis: 25%;
}
/* Los label son por lo general lineales */
.search-block label{
    display: block;
    color: gray;
}

.boton-buscar{
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 0;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 20px;
}




@media (min-width: 480px) {
    
}

@media (min-width: 768px) {
    body{
        padding: 20px 30px 30px 30px;
    }

    .hero{
        min-height: 700px;
    }

    .hero-title{
        font-size: 50px;
    }

    .hero-title-white-text{
        font-size: 140px;
    }

    .search-block{
        display: flex;
    }

    .search-block-right{
        flex-basis: 50%;
        display: flex;
        gap: 20px; /* Separacion entre div y div*/
        padding: 0 0 0 0;
        
    }
}

@media (min-width: 1280px) {

    .hero-title{
        font-size: 60px;
    }

    .hero-title-white-text{
        font-size: 180px;
    }

    
}



